{% if poll.poll_type == 'text' %}
    <div class="input-group mt-1">
        <div class="input-group-text">
            {% if poll.ended %}
                <input class="form-check-input" name="choice" type="radio" disabled value="{{ poll.option_1 }}" aria-label="Radio button for following text input">
            {% else %}
                <input class="form-check-input" name="choice" type="radio" value="{{ poll.option_1 }}" aria-label="Radio button for following text input">
            {% endif %}
        </div>
        <input type="text" class="form-control" disabled value="{{ poll.option_1 }}" aria-label="Text input with radio button">
    </div>
    <h6 class="card-text">Votes: {{ poll.count_1 }}</h6>
    <div class="input-group mt-2">
        <div class="input-group-text">
            {% if poll.ended %}
                <input class="form-check-input" name="choice" type="radio" disabled value="{{ poll.option_2 }}" aria-label="Radio button for following text input">
            {% else %}
                <input class="form-check-input" name="choice" type="radio" value="{{ poll.option_2 }}" aria-label="Radio button for following text input">
            {% endif %}
        </div>
        <input type="text" class="form-control" disabled value="{{ poll.option_2 }}" aria-label="Text input with radio button">
    </div>
    <h6 class="card-text">Votes: {{ poll.count_2 }}</h6>
{% else %}
    <div class="img-poll-container">
        <div class="poll-img">
            <div class="input-group mt-1">
                <div class="input-group-text">
                    {% if poll.ended %}
                        <input class="form-check-input" name="choice" type="radio" disabled value="{{ poll.option_1 }}" aria-label="Radio button for following text input">
                    {% else %}
                        <input class="form-check-input" name="choice" type="radio" value="img1" aria-label="Radio button for following text input">
                    {% endif %}
                </div>
                <img src="{{ poll.image_1.url }}" alt="" class="image img-responsive">
            </div>
            <h6 class="card-text">Votes: {{ poll.count_1 }}</h6>
        </div>
        <div class="poll-img">
            <div class="input-group mt-1">
                <div class="input-group-text">
                    {% if poll.ended %}
                        <input class="form-check-input" name="choice" type="radio" disabled value="{{ poll.option_2 }}" aria-label="Radio button for following text input">
                    {% else %}
                        <input class="form-check-input" name="choice" type="radio" value="img2" aria-label="Radio button for following text input">
                    {% endif %}
                </div>
                <img src="{{ poll.image_2.url }}" alt="" class="image img-responsive">
            </div>
            <h6 class="card-text">Votes: {{ poll.count_2 }}</h6>
        </div>
    </div>
{% endif %}