.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}


.info-container {
    display: flex;
}

.img-container {
    flex: 0.9;
}


@media (min-width: 720px) {

    .profile-img {
        width: 200px;
        height: 200px;
    }

    .img-container {
        flex: 0.5;
    }
}