{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{% static 'core/css/navbar.css' %}">
</head>
<body>
    {% include 'header.html' %}
    {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            <div class="custom-container">
                {{ message }}
            </div>
          </div>
        {% endfor %}
    {% endif %}
    <div class="container custom-container">
        {% block body %}{% endblock %}
    </div>
</body>
</html>