<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Home</h1>
    <div>
        <ul>
            {% for poll in polls %}
                <div>
                    <p>{{ poll.title }}</p>
                    <p>{{ poll.option_1 }}</p>
                    <p>{{ poll.option_2 }}</p>
                    <h3>{{ poll.author }}</h3>
                </div>
            {% endfor %}
        </ul>
    </div>
</body>
</html>