{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-8 mt-4">
            {% for poll in polls %}
                <div class=" card p-4 mt-3">
                    <form action="" method="post">
                        {% csrf_token %}
                        <h3 style="display: inline;">{{ poll.title }}</h3>
                        <p style="display: inline; float:right;">Created By:
                            <b>{{ poll.author }}</b>
                        </p>
                        <div class="input-group mt-1">
                            <div class="input-group-text">
                                <input class="form-check-input" name="choice" type="radio" value="{{ poll.option_1 }}" aria-label="Radio button for following text input">
                            </div>
                            <input type="text" class="form-control" disabled value="{{ poll.option_1 }}" aria-label="Text input with radio button">
                        </div>
                        <h6 class="card-text">Votes: {{ poll.count_1 }}</h6>
                        <div class="input-group mt-2">
                            <div class="input-group-text">
                                <input class="form-check-input" name="choice" type="radio" value="{{ poll.option_2 }}" aria-label="Radio button for following text input">
                            </div>
                            <input type="text" class="form-control" disabled value="{{ poll.option_2 }}" aria-label="Text input with radio button">
                        </div>
                        <h6 class="card-text">Votes: {{ poll.count_2 }}</h6>
                        <input type="text" name="id" style="display: none" value="{{ poll.id }}">
                        <button class="btn btn-success mt-1">Vote</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}