{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'profiles/profiles.css' %}">
{% endblock %}

{% block body %}
    <div class="row mt-4">
        <div class="col-sm-8 card p-3">
            <div class="info-container">
                <div class="img-container">
                    <img src="{{ user.profile.img.url }}" alt="" class="img-fluid profile-img">
                </div>
                <div class="username-container">
                    <p class="card-title ms-2 mt-3 display-3">{{ user.username }}</p>
                    <a href="{% url 'edit-profile' %}" class="btn btn-outline-primary mt-1">Edit Profile</a>
                    <a href="{% url 'change-password' %}" class="btn btn-outline-primary mt-1">Change Password</a>
                </div>
            </div>
            <h5 class="card-text mt-5">Polls created by {{ user.username }}</h5>
            {% if polls %}
                {% for poll in polls %}
                    <div class=" card p-4 mt-4">
                        <form action="" method="post">
                            {% csrf_token %}
                            <h3 class="card-title">{{ poll.title }}</h3>
                            {% include 'polls/poll.html' %}
                            <input type="text" name="id" style="display: none" value="{{ poll.id }}">
                            <button class="btn btn-success mt-2">Vote</button>
                            {% if user == poll.author %}
                                <span style="float:right;">
                                    {% if not poll.ended %}
                                         <a href="{% url 'end-poll' poll.id %}" class="btn btn-info mt-1" style="color: white">End</a>
                                    {% endif %}
                                    <a href="{% url 'edit-poll' poll.id %}" class="btn btn-primary mt-1">Edit</a>
                                    <a href="{% url 'delete-poll' poll.id %}" class="btn btn-danger mt-1">Delete</a>
                                </span>
                            {% endif %}
                        </form>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}